<%= form_for(@photos) do |f| %>
<% if @photos.errors.any? %>
  <div id="error_explanation">
  <h2><%= @photos.errors.count %>件のエラーがあります。</h2>

  <ul>
  <% @photos.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
  <% end %>
<%= f.label :タイトル %>
<%= f.text_field :title, class: 'form-control'%>
<div class="field">
  <div class="text_field">
<div class = form>
<%= f.label :内容 %>
<%= f.text_field :content, class: 'form-control' %>
<%=f.label :image,"ユーザー画像" %>
<%= f.file_field :image %>
</div>
</div>
<br>
<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
