<div class="container">
<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<h3>以下の内容で投稿します</h3>
<%= form_for(@photos) do |f|%>
<%= f.hidden_field :title %>
<%= f.hidden_field :content %>
<p>タイトル:<%= @photos.title %></p>
<p>内容:<%= @photos.content %></p>
<%= f.submit "登録する" %>
<% end %>

<%= form_for(@photos, url: new_photo_path,method: 'get') do |f| %>
<%= f.hidden_field :title %>
<%= f.hidden_field :content %>
<%= f.submit"戻る",name: 'back' %>
<% end %>
</div>
</div>
